<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--css custom-->
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <section class="hal-1">
        <div class="container">
            <%- include("partials/navbar") %>
            <div>
                <h2>Log in Page</h2>
            </div>
            <!-- onsubmit="handleSubmit(event)" action="/login" -->
            <form method="post" action="/login">
                <div class="row mb-3">
                <label for="inputAN" class="col-sm-3 col-form-label"><h3>Account Name</h3></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="username">
                </div>
                </div>
                <div class="row mb-3">
                <label for="inputPass" class="col-sm-3 col-form-label"><h3>Password</h3></label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputPass" name="password">
                </div>
                </div>
                <button type="submit" class="btn btn-primary col-md-2 offset-md-3" value="login" onsubmit="onsubmit ()">Log in</button>
            </form>
        </div>
        
    </section>
</body>
</html>