html{
      background-color: black;
      width: 100%;
      overflow-y: visible;
      overflow-x: hidden;
      user-select: none;
      margin: 0;
      padding: 0;
  }
/*responsive bootstrap*/
@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
  .hal-1, .hal-2, .hal-3, .hal-4, .hal-5{
    background-image: none;
  }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}


  h2{
    width: 100%;
    font-size: 4rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    flex: 1;
    color:white;
  }
  h3{
    width: 100%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    flex: 1;
    color:orange;
  }
  h4{
    width: 100%;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    flex: 1;
    color:white;
  }
  p{
    width: 100%;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    flex: 1;
    color: white;
  }
/*halaman 1*/

/*background hal 1*/
  .hal-1{
    width: 100%;
    height: 150vh;
    background-image: url("../images/(1)main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

/*menu hal 1*/
  .menu-konten{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; 
    position: relative;
  }
  
  .menu-kiri{
    font-size: 1.5rem;
    width:10%;
  }

  .menu-tengah{
    font-size: 0.7rem;
    width:60%;
  }
  .menu-kanan{
    font-size: 0.7rem;
    width:30%;
  }
  /*pseudo elemen untuk background menu*/
  .bg-menu{
    background-color: black;
    opacity:0.5;
    width: 100%;
    height: 100px;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    position:absolute
  }
 
ul{
  display: inline;
  color: white
}
/*konten hal 1*/
.teks-hal-1-tengah{
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
}
  .play {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15%;
    font-size: 4rem;
    font-style: normal;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5625rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
  .play-caption {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    flex: 1;
    margin-bottom: 3.5625rem;
    text-align: center;
    color: white;
}

#button-hal-1{
  font-weight: bold;
  width:200px;
  height:50px;
  text-align: center;
  align-items: center;
}

.tombol{
  width: 100%;
  text-align: center;
  align-items: center;
}

.teks-hal-1-bawah{
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20%;
}

/*halaman 2*/

/*background hal 2*/
.hal-2{
  width: 100%;
  height: 150vh;
  background-image: url("../images/(2)the-games-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.konten-hal-2{
  padding-top: 100px;
  margin-left: 5%;
  vertical-align:50%;
  width: 80%;
  height: 100%;
  overflow: auto;
  align-items: center;
}
.gallery-hal-2{
  float:right
}
.teks-hal-2-kiri{
  margin-top: 20%;
}

/*halaman 3*/
/*background hal 3*/
.hal-3{
  width: 100%;
  height: 110vh;
  background-image: url("../images/(3)features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.konten-hal-3{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.hal-3-space{
  width:55%;
}
.teks-hal-3{
  width:45%;
}
/*halaman 4*/
.hal-4{
  width: 100%;
  height: 150vh;
  background-image: url("../images/(4)requirements.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.hal-4-atas{
  text-align: center;
  padding-top: 15%;
}
.konten-hal-4{
  height: 90%;
  display: flex;
}
.space-hal-4-kiri{
  width:7%;
  height: 10%;
}

.space-hal-4-kanan{
  width: 50%;
}
.sys-hal-4{
  width: 80%;
  height: 20%;
  vertical-align: middle;
  margin-top: 20%;
}
table{
  border-collapse: collapse;
}
td{
  border: 1px solid gray;
}

/*halaman 5*/
.hal-5{
  width: 100%;
  height: 150vh;
  background-color: black;
  background-image: url("../images/(5)top-score-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.konten-hal-5{
  display: flex;
  width: 100%;
  height: 90%;
  padding-top: 10%;
  flex-direction: row;
}
.teks-hal-5-kiri{
  flex-direction: row;
  width: 30%;
  padding-left: 5%;
  padding-top: 10%;
}
#button-hal-5{
  font-weight: bold;
  width:200px;
  height:50px;
}
.hal-5-kanan{
  width: 70%;
}

/*CSS untuk gamesuit Page*/
html,body {
  background-color:#9C835F;
  }

  body{
  height: 100vh;
  width: 100%;
  }

  header{
      display: flex;
      align-items: center;
      margin-left: 30px;
      border: solid red 1 px;
      height: 15%;
  }

  .teks-menu{
      font-size: 20px;
      color: orange;
      font-weight: bold;
  }

  .simbol-menu{
      color:brown;
  }

  .opsi-player{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .button-player, .button-comp{
      display: flex;
      flex-direction: column;
      width: fit-content;
  }

  .opsi-comp{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .game{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
  }

  #vs-tengah{
      align-items: center;
      width: 20%;
      text-align: center;
      color: white;
  }

  .teks-vs{
      font-size: 70px;
  }

  .player-kiri, .komputer-kanan{
      width: 40%;
      text-align: center;
  }

  button{
      background: transparent;
      border: none;
  }

  .refresh{
      width: 100%;
  }

  .refresh-bawah{
      margin-top: 10px;
      width: 100%;
      height: 15%;
      align-items: center;
  }

  /*---------------dengan JS-----------*/
  .chosen {
      background-color: #C4C4C4;
      border-radius: 30px;
  }

  .winBox {
      height: 100px;
      display: grid;
      place-items: center;
      background: #4C9654;
      border-radius: 10px;
      margin:  15px auto;
      padding: 15px;
      
  }

  .drawBox {
      height: 100px;
      display: grid;
      place-items: center;
      border-radius: 10px;
      margin:  15px auto;
      padding: 15px;
      background: #035B0C;
      border-radius: 10px;
      
  }